.img{
    width: 120px;
    height: 70px;
    padding: 5px;
}

.table {
    margin: auto;
    width: 80% !important; 
}


td, thead{
    text-align: center;
    vertical-align: middle;
}

.no-history{
    text-align: center;
}